body {
  font-family: "Inter", "sans-serif" !important;
}

.page_title {
  font-size: 32px;
  font-weight: var(--fw-semibold);
  margin-bottom: 40px;
}

.group_title {
  font-size: 18px;
  font-weight: var(--fw-semibold);
}
