#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  height: 100vh;
  background-color: var(--dark-blue);
  z-index: 100;
  overflow-y: scroll;
}

#sidebar header {
  text-align: center;
  padding: 48px 0px;
  color: #fff;
  font-weight: var(--fw-semibold);
  font-size: 24px;
}

#sidebar .menuAdmin{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

#sidebar .btnMenu{
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: var(--fw-medium);
  padding: 20px 0 20px 30px;
  transition: all 0.2s ease-in-out;
}

#sidebar .btnMenu:hover {
  background-color: #434a51;
}

#sidebar .btnMenuActive {
  background-color: #434a51;
  font-weight: var(--fw-semibold);
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 20px 0 20px 30px;
  transition: all 0.2s ease-in-out;
}
