.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: fit-content;
}

.input_group {
  width: 640px;
}

.input {
  width: 360px;
}

.select {
  width: 360px;
}

.btnEditGambar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(133, 133, 133, 0.5);
  border: 2px dashed var(--dark-blue);
  color: var(--dark-blue);
  font-weight: var(--fw-medium);
}

.button_group {
  display: flex;
  gap: 8px;
  flex-direction: row;
  width: 100%;
}
